<!--<p>My APP</p>
<ul>
  <li>
    <a routerLink="students">Estudiantes</a>
  </li>
  <li>
    <a routerLink="courses">Cursos</a>
  </li>
  <li>
    <a routerLink="users">Usuarios</a>
  </li>
</ul>
-->

<mat-list>
  <mat-list-item>
    <button mat-button routerLink="root">
      <mat-icon>home</mat-icon>Home 
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="students">
      <mat-icon>list</mat-icon>Estudiantes
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="users">
      <mat-icon>list</mat-icon>Usuarios
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="courses"mat-menu-item>
      <mat-icon>list</mat-icon>Cursos
    </button>
  </mat-list-item>
</mat-list>
  
 