
<mat-list>
  <mat-list-item>
    <button mat-button routerLink="root">
      <mat-icon>home</mat-icon>Home 
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="students">
      <mat-icon>school</mat-icon>Estudiantes
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="users">
      <mat-icon>assignment_ind</mat-icon>Usuarios
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button routerLink="courses"mat-menu-item>
      <mat-icon>people</mat-icon>Cursos
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button [disabled]="true">
      <mat-icon>list</mat-icon>Asignar 
    </button>
  </mat-list-item>
</mat-list>
  
 