

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cursos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacto</a>
    </li>
    <li class="nav-item">
        <button mat-button routerLink="login">
            <mat-icon>home</mat-icon>Acceder
        </button>
    </li>
  </ul>
  <mat-card>

    <mat-card class="example-card">
        <mat-card-header style="color: blueviolet;">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle>Cursos</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button  mat-icon-button color="primary">
                <mat-icon>
                    star
                </mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>comment</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

  </mat-card>
       
  


  