<div class="card bg-ligth">
  <div class="card-header text-center" style="align-items: center;">
    <img class="profile-user-img img-fluid img-circle   text-center" src="https://temank3.id/public/images/default.jpg"
      alt="" width="160px">
    <div class="card-title">
      {{title|uppercase}}
    </div>
  </div>
  <div class="card-body">
    <div class="container px-4">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3">
            <ng-container *ngIf="student;">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Codigo identificador</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{student.id}}"
                  disabled>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
                <input class="form-control" id="exampleFormControlInput1"
                  placeholder="{{student.firstName|uppercase}} {{student.lastName|uppercase}}" disabled>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email de Contacto</label>
                <input class="form-control" id="exampleFormControlInput1"
                  placeholder="{{student.email|uppercase}}" disabled>
              </div>
              <ng-container *ngIf="student.active==true;else elseTemplate">
                <div class="alert alert-success" role="alert">
                  El alumno {{student.firstName}} esta <b>ACTIVO</b>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="alert alert-warning" role="alert">
                  El alumno {{student.firstName}} esta <b>INACTIVO</b>
                </div>
              </ng-template>
              <div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <ng-container *ngIf="student;else elseOption">
              <div class="card bg-ligth">
                <div class="card-header text-center">
                  Inscripciones
                </div>
                <div class="card-content" style="padding: 1rem;">
                  <mat-chip-listbox  *ngFor="let element of student.cursos" aria-label="Fish selection">
                    <mat-chip style="color: blueviolet;">{{element}}</mat-chip>
                  </mat-chip-listbox>
                </div>
              </div>
            </ng-container>
            <ng-template #elseOption>
              <div class="alert alert-primary">
                Estudiante no encontrado
              </div>
            </ng-template>
          </div>
        </div>
      </div>